$colorOrange : #ff9900;
$colorGray : #999999;
$colorWhite : #ffffff;

/* reset */
*{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
html,body{height:100%;position:relative;color:#181818;font-size:small}
ul{list-style:none}
ul.disc{margin:10px 0 15px}
ul.disc li{list-style-type:disc;margin-left:30px;padding:0 0 5px}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid $colorGray;margin:1em 0;padding:0}
input,select{vertical-align:middle;}
select,input,textarea{font-size:99%}
h3{font-size:17px}
h4{font-size:14px}
a{color:#181818; text-decoration: none}
ol{list-style-type:decimal;padding-left:20px}
small{font-size:85%}
strong,th{font-weight:700}
textarea{overflow:auto;}
label,input[type=submit]{cursor:pointer}
p{padding: 0 0 15px; font-size: 11px}
.h{display:none}
.o_h{overflow:hidden !important}

.nclear {display:inline-block}
.nclear {display:block}
.nclear:after
{
    content:".";
    clear:both;
    font-size:0;
    line-height:0;
    height:0;
    overflow:hidden;
    visibility:hidden;
    display:block
}


@font-face {
    font-family: 'Shadow';
    src: url('../fonts/shadow_regular.eot');
    src: local(''), url('../fonts/shadow_regular.woff') format('woff'), url('../fonts/shadow_regular.ttf') format('truetype'), url('../fonts/shadow_regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    background: $colorWhite;
    font: 18px/21px 'pt sans', tahoma, sans-serif;
    color: $colorGray;
}

.wt-container{
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}

.wt-font_shadow{
    font-family: 'Shadow', arial, sans-serif;
}
.wt-font_osans{
    font-family: 'pt sans', tahoma, sans-serif;
}

#wt-header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: $colorWhite;
    padding: 35px 0 20px;

    &:before{
        position: absolute;
        left: 0;
        top: 1px;
        right: 0;
        height: 8px;
        background: $colorOrange;
        content: '';
    }

    &:after{
        position: absolute;
        left: 0;
        top: 100%;
        right: 0;
        height: 10px;
        background: url(../i/header_gradient.png);
        content: '';
    }

    .wt-appstor_link{
        float: right;
    }
}

.wt-logo{
    float: left;
    width: 209px;
    height: 55px;
    background: url(../i/logo.png);
}

.wt-appstor_link{
    display: block;
    background: url(../i/sp.png);

    &.wt-appstor_link{
        background-position: 0 0;
        width: 169px;
        height: 50px;
    }
}

.wt-carousel_autoloader{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 4px;

    .wt-carousel_autoloader_inner{
        position: absolute;
        background: $colorWhite;
        top: 0;
        left: 0;
        bottom: 0;

    }
}

#wt-content{
    padding: 130px 0 0;
}

#wt-footer{
    background: $colorOrange;
    padding: 40px 0 30px;

    a{
        color: $colorWhite;
        font-size: 18px;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    .wt-footer_link_wrapper{
        display: block;
    }

    .wt-footer_root_link{
        padding: 0 0 20px;

        a{
            font-weight: bold;
            text-decoration: underline;
            text-transform: uppercase;

            &:hover{
                text-decoration: none;
            }
        }
    }

    .wt-footer_table{
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .wt-footer_cell{
        display: table-cell;
    }

    .wt-container{
        width: 960px;
        padding: 0 0 0 170px;
    }
}


@media (max-width: 720px) {
    .wt-hide_for_mobile{
        display: none!important;
    }

    #wt-footer{
        .wt-container{
            padding: 0 20px;
        }

        .wt-footer_cell{
            display: block;
            margin: 0 0 20px;
        }

        .wt-footer_root_link{
            padding: 0 0 10px;
        }
    }
}
